body,div{
	padding: 0;
	margin: 0;
}
body{
	background: url("../img/bg.jpg") no-repeat top center;
	background-size: 100%;
	background-color: rgba(0,0,0,1);
}
#main{
	width: 60%;
	min-width: 400px;
	max-width: 900px;
	height: auto;
	min-height: 600px;
	margin: 0 auto;
	background: rgba(255,255,255,0.1);
	color: #fff;
}