#cmdO{
	display: block;
  letter-spacing: 1px;
	width: 600px;
	height: 380px;
	border: 1px solid rgba(0,0,0,0.2);
	/*color: #999;*/
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
  padding: 5px;
  cursor: text;
  border-radius: 3px;
}
#cmdH{
  position: relative;
	width: 100%;
	height: auto;
}
#inp{
  position: relative;
  width: 100%;
}
#prompt{
  /*color: #4a4;*/
  display: inline;
  width: auto;
  float: left;
}
#cmdI{
  width: 100%;
	border: none;
	outline: none;
	background: none;
	color: rgba(0,200,0,0.8);
  float: left;
}